<a href="https://www.kaggle.com/aryanphilip/brazilian-houses-rent-3classifers?scriptVersionId=88708294" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
%matplotlib inline

In [2]:
data = pd.read_csv('../input/brasilian-houses-to-rent/houses_to_rent.csv')

In [3]:
data.head(10)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
5,5,1,13,1,1,0,2,acept,not furnished,R$0,"R$2,200",R$42,R$28,"R$2,270"
6,6,1,55,1,1,1,2,acept,furnished,"R$1,950","R$5,000",R$375,R$64,"R$7,389"
7,7,1,55,2,2,1,2,acept,not furnished,R$600,"R$1,300",R$67,R$17,"R$1,984"
8,8,1,82,3,1,1,3,acept,furnished,R$828,"R$2,000",R$109,R$26,"R$2,963"
9,9,1,32,1,1,1,16,acept,not furnished,R$533,"R$2,900",R$0,R$37,"R$3,470"

In [4]:
print(data.shape)

(6080, 14)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      6080 non-null   int64
 1   city            6080 non-null   int64
 2   area            6080 non-null   int64
 3   rooms           6080 non-null   int64
 4   bathroom        6080 non-null   int64
 5   parking spaces  6080 non-null   int64
 6   floor           6080 non-null   object
 7   animal          6080 non-null   object
 8   furniture       6080 non-null   object
 9   hoa             6080 non-null   object
 10  rent amount     6080 non-null   object
 11  property tax    6080 non-null   object
 12  fire insurance  6080 non-null   object
 13  total           6080 non-null   object
dtypes: int64(6), object(8)
memory usage: 665.1+ KB

In [6]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [7]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [8]:
data.isna().sum()

city              0
area              0
rooms             0
bathroom          0
parking spaces    0
floor             0
animal            0
furniture         0
hoa               0
rent amount       0
property tax      0
fire insurance    0
total             0
dtype: int64

In [9]:
data['floor'].sample(5)

2730    -
4706    3
4444    -
656     6
662     2
Name: floor, dtype: object

In [10]:
data['floor'].replace(to_replace = '-', value=0,inplace=True)

In [11]:
data['floor'].head(10)

0     0
1    10
2     3
3    12
4     0
5     2
6     2
7     2
8     3
9    16
Name: floor, dtype: object

In [12]:
data['animal'].replace(to_replace = 'not acept',value=0,inplace=True)
data['animal'].replace(to_replace = 'acept',value=1,inplace=True)

In [13]:
data.sample(10)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
3091,1,101,3,3,2,16,1,furnished,"R$1,250","R$7,500",R$292,R$29,"R$9,071"
5807,0,70,2,2,1,0,1,not furnished,R$0,"R$1,400",R$44,R$22,"R$1,466"
5813,1,335,4,6,4,2,1,furnished,"R$3,500","R$4,500",R$0,R$58,"R$8,058"
2382,1,260,4,4,4,0,1,not furnished,R$0,"R$4,500",R$0,R$68,"R$4,568"
2773,0,900,3,6,8,0,1,not furnished,"R$2,000","R$15,000","R$1,834",R$226,"R$19,060"
1299,1,52,2,1,1,8,1,not furnished,R$760,"R$3,000",R$145,R$39,"R$3,944"
4538,1,57,2,2,1,3,1,not furnished,R$476,"R$2,300",R$0,R$30,"R$2,806"
4973,1,380,4,5,4,4,1,not furnished,"R$4,000","R$8,000","R$2,667",R$102,"R$14,770"
3738,1,298,4,6,5,0,1,furnished,R$0,"R$8,450",R$750,R$128,"R$9,328"
3629,1,427,4,6,4,13,1,not furnished,"R$3,440","R$10,000","R$1,350",R$127,"R$14,920"

In [14]:
data['furniture'].replace(to_replace = 'not furnished',value=0,inplace=True)
data['furniture'].replace(to_replace = 'furnished',value=1,inplace=True)

In [15]:
data.sample(5)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
2957,1,50,2,2,1,12,1,0,R$480,"R$1,722",R$100,R$22,"R$2,324"
5494,0,12732,3,2,0,3,1,0,R$700,"R$1,600",R$96,R$21,"R$2,417"
2302,1,40,1,1,0,16,1,0,R$580,"R$1,105",R$0,R$14,"R$1,699"
3554,1,360,3,4,1,10,1,0,"R$2,300","R$10,000",R$584,R$127,"R$13,010"
5481,1,84,1,1,1,1,0,0,R$929,"R$2,500",R$246,R$32,"R$3,707"

In [16]:
data['rent amount'] = data['rent amount'].apply(lambda x: x.split('$')[1])

In [17]:
data['rent amount'].head()

0    8,000
1      820
2    7,000
3    1,250
4    1,200
Name: rent amount, dtype: object

In [18]:


data['fire insurance'] = data['fire insurance'].apply(lambda x: x.split('$')[1])
data['total'] = data['total'].apply(lambda x: x.split('$')[1])

In [19]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,1,1,R$0,"8,000","R$1,000",121,"9,121"
1,0,64,2,1,1,10,1,0,R$540,820,R$122,11,"1,493"
2,1,443,5,5,4,3,1,1,"R$4,172","7,000","R$1,417",89,"12,680"
3,1,73,2,2,1,12,1,0,R$700,"1,250",R$150,16,"2,116"
4,1,19,1,1,0,0,0,0,R$0,"1,200",R$41,16,"1,257"

In [20]:
for col in ['hoa','property tax']:
    data[col].replace(to_replace='R\$', value='',regex=True, inplace=True)
    data[col].replace(to_replace=',', value='',regex=True, inplace=True)

In [21]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,1,1,0,"8,000",1000,121,"9,121"
1,0,64,2,1,1,10,1,0,540,820,122,11,"1,493"
2,1,443,5,5,4,3,1,1,4172,"7,000",1417,89,"12,680"
3,1,73,2,2,1,12,1,0,700,"1,250",150,16,"2,116"
4,1,19,1,1,0,0,0,0,0,"1,200",41,16,"1,257"

In [22]:
for col in ['rent amount','total']:
     data[col].replace(to_replace=',', value='',regex=True, inplace=True)

In [23]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,1,1,0,8000,1000,121,9121
1,0,64,2,1,1,10,1,0,540,820,122,11,1493
2,1,443,5,5,4,3,1,1,4172,7000,1417,89,12680
3,1,73,2,2,1,12,1,0,700,1250,150,16,2116
4,1,19,1,1,0,0,0,0,0,1200,41,16,1257

In [24]:
data.describe()

,city,area,rooms,bathroom,parking spaces,animal,furniture
count,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000
mean,0.863322,151.143914,2.492599,2.341612,1.756250,0.767434,0.260197
std,0.343535,375.559485,1.129665,1.438860,1.611909,0.422502,0.438778
min,0.000000,10.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,1.000000,58.000000,2.000000,1.000000,1.000000,1.000000,0.000000
50%,1.000000,100.000000,3.000000,2.000000,1.000000,1.000000,0.000000
75%,1.000000,200.000000,3.000000,3.000000,2.000000,1.000000,1.000000
max,1.000000,24606.000000,10.000000,10.000000,12.000000,1.000000,1.000000

In [27]:
data['hoa'].replace(to_replace = 'Sem info',value=0,inplace=True)
data['hoa'].replace(to_replace = 'Incluso',value=0,inplace=True)
data['property tax'].replace(to_replace = 'Incluso',value=0,inplace=True)

In [28]:
data.isin(['Incluso']).any()

city              False
area              False
rooms             False
bathroom          False
parking spaces    False
floor             False
animal            False
furniture         False
hoa               False
rent amount       False
property tax      False
fire insurance    False
total             False
dtype: bool

In [29]:
data = data.astype(dtype=np.int64)

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   city            6080 non-null   int64
 1   area            6080 non-null   int64
 2   rooms           6080 non-null   int64
 3   bathroom        6080 non-null   int64
 4   parking spaces  6080 non-null   int64
 5   floor           6080 non-null   int64
 6   animal          6080 non-null   int64
 7   furniture       6080 non-null   int64
 8   hoa             6080 non-null   int64
 9   rent amount     6080 non-null   int64
 10  property tax    6080 non-null   int64
 11  fire insurance  6080 non-null   int64
 12  total           6080 non-null   int64
dtypes: int64(13)
memory usage: 617.6 KB

In [31]:
data = data.sample(frac=1).reset_index(drop=True)

In [32]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,20,1,1,0,5,1,1,602,1800,130,23,2555
1,0,47,1,1,0,2,1,0,426,420,260,6,1112
2,1,100,1,2,0,0,0,0,4320,3100,0,40,7460
3,1,68,2,2,1,6,1,0,600,1339,0,16,1955
4,1,360,4,4,2,4,1,0,3340,11050,0,141,14530

In [35]:
y = data['city']
X = data.drop('city',axis=1)

In [36]:
X

,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,20,1,1,0,5,1,1,602,1800,130,23,2555
1,47,1,1,0,2,1,0,426,420,260,6,1112
2,100,1,2,0,0,0,0,4320,3100,0,40,7460
3,68,2,2,1,6,1,0,600,1339,0,16,1955
4,360,4,4,2,4,1,0,3340,11050,0,141,14530
...,...,...,...,...,...,...,...,...,...,...,...,...
6075,151,3,4,3,15,1,0,860,5852,520,75,7307
6076,50,1,1,0,0,1,0,0,700,45,11,756
6077,110,3,2,1,0,1,0,0,3200,0,49,3249
6078,68,1,2,1,5,1,0,942,6000,229,77,7248
6079,70,2,1,1,19,1,0,520,1700,155,22,2397

In [37]:
y

0       1
1       0
2       1
3       1
4       1
       ..
6075    1
6076    1
6077    1
6078    1
6079    1
Name: city, Length: 6080, dtype: int64

In [40]:
scaler = MinMaxScaler()
scaler.fit(X)
X = scaler.transform(X)

In [42]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.000407,0.000000,0.000000,0.000000,0.050505,1.0,1.0,0.002736,0.030956,0.000355,0.029674,0.005094
1,0.001504,0.000000,0.000000,0.000000,0.020202,1.0,0.0,0.001936,0.000000,0.000710,0.004451,0.001215
2,0.003659,0.000000,0.111111,0.000000,0.000000,0.0,0.0,0.019636,0.060117,0.000000,0.054896,0.018278
3,0.002358,0.111111,0.111111,0.083333,0.060606,1.0,0.0,0.002727,0.020615,0.000000,0.019288,0.003481
4,0.014230,0.333333,0.333333,0.166667,0.040404,1.0,0.0,0.015182,0.238448,0.000000,0.204748,0.037281
...,...,...,...,...,...,...,...,...,...,...,...,...
6075,0.005733,0.222222,0.333333,0.250000,0.151515,1.0,0.0,0.003909,0.121848,0.001420,0.106825,0.017866
6076,0.001626,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.000000,0.006281,0.000123,0.011869,0.000258
6077,0.004066,0.222222,0.111111,0.083333,0.000000,1.0,0.0,0.000000,0.062360,0.000000,0.068249,0.006959
6078,0.002358,0.000000,0.111111,0.083333,0.050505,1.0,0.0,0.004282,0.125168,0.000625,0.109792,0.017708
6079,0.002439,0.111111,0.000000,0.083333,0.191919,1.0,0.0,0.002364,0.028712,0.000423,0.028190,0.004669

In [43]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8)

In [46]:
y_test.shape

(1216,)

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

In [54]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier
from sklearn import model_selection
from sklearn.utils import class_weight
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [55]:
log_model = LogisticRegression(penalty='l2')
svm_model = SVC()
nn_model = MLPClassifier(hidden_layer_sizes = (16,16),verbose=1,activation='relu', solver='adam')

In [56]:
log_model.fit(X_train,y_train)
svm_model.fit(X_train,y_train)
nn_model.fit(X_train,y_train)

Iteration 1, loss = 0.87765326
Iteration 2, loss = 0.72610038
Iteration 3, loss = 0.57550946
Iteration 4, loss = 0.46007688
Iteration 5, loss = 0.40711866
Iteration 6, loss = 0.39479032
Iteration 7, loss = 0.39267268
Iteration 8, loss = 0.39132883
Iteration 9, loss = 0.39001707
Iteration 10, loss = 0.38876910
Iteration 11, loss = 0.38768607
Iteration 12, loss = 0.38623940
Iteration 13, loss = 0.38513199
Iteration 14, loss = 0.38405495
Iteration 15, loss = 0.38284552
Iteration 16, loss = 0.38168728
Iteration 17, loss = 0.38074260
Iteration 18, loss = 0.37988247
Iteration 19, loss = 0.37909664
Iteration 20, loss = 0.37822205
Iteration 21, loss = 0.37718359
Iteration 22, loss = 0.37613657
Iteration 23, loss = 0.37503724
Iteration 24, loss = 0.37426036
Iteration 25, loss = 0.37329568
Iteration 26, loss = 0.37274273
Iteration 27, loss = 0.37152333
Iteration 28, loss = 0.37070397
Iteration 29, loss = 0.36997156
Iteration 30, loss = 0.36891723
Iteration 31, loss = 0.36836025
Iteration 32, loss = 0.36743931
Iteration 33, loss = 0.36661172
Iteration 34, loss = 0.36600665
Iteration 35, loss = 0.36522269
Iteration 36, loss = 0.36456837
Iteration 37, loss = 0.36414976
Iteration 38, loss = 0.36315768
Iteration 39, loss = 0.36252904
Iteration 40, loss = 0.36198707
Iteration 41, loss = 0.36127385
Iteration 42, loss = 0.36067531
Iteration 43, loss = 0.36047158
Iteration 44, loss = 0.35959820
Iteration 45, loss = 0.35885919
Iteration 46, loss = 0.35829180
Iteration 47, loss = 0.35780649
Iteration 48, loss = 0.35755980
Iteration 49, loss = 0.35713353
Iteration 50, loss = 0.35642455
Iteration 51, loss = 0.35588220
Iteration 52, loss = 0.35531921
Iteration 53, loss = 0.35475441
Iteration 54, loss = 0.35434467
Iteration 55, loss = 0.35376965
Iteration 56, loss = 0.35370529
Iteration 57, loss = 0.35292984
Iteration 58, loss = 0.35240860
Iteration 59, loss = 0.35217321
Iteration 60, loss = 0.35146321
Iteration 61, loss = 0.35123959
Iteration 62, loss = 0.35069281
Iteration 63, loss = 0.34982522
Iteration 64, loss = 0.34911055
Iteration 65, loss = 0.34918468
Iteration 66, loss = 0.34861994
Iteration 67, loss = 0.34793751
Iteration 68, loss = 0.34780052
Iteration 69, loss = 0.34658432
Iteration 70, loss = 0.34601509
Iteration 71, loss = 0.34584641
Iteration 72, loss = 0.34473960
Iteration 73, loss = 0.34426239
Iteration 74, loss = 0.34446623
Iteration 75, loss = 0.34326253
Iteration 76, loss = 0.34259713
Iteration 77, loss = 0.34244136
Iteration 78, loss = 0.34152161
Iteration 79, loss = 0.34083615
Iteration 80, loss = 0.34026937
Iteration 81, loss = 0.33969010
Iteration 82, loss = 0.33909222
Iteration 83, loss = 0.33835044
Iteration 84, loss = 0.33850016
Iteration 85, loss = 0.33748855
Iteration 86, loss = 0.33704080
Iteration 87, loss = 0.33616773
Iteration 88, loss = 0.33555266
Iteration 89, loss = 0.33566443
Iteration 90, loss = 0.33501284
Iteration 91, loss = 0.33426013
Iteration 92, loss = 0.33407467
Iteration 93, loss = 0.33382177
Iteration 94, loss = 0.33286027
Iteration 95, loss = 0.33216064
Iteration 96, loss = 0.33173089
Iteration 97, loss = 0.33197123
Iteration 98, loss = 0.33153121
Iteration 99, loss = 0.33058861
Iteration 100, loss = 0.33034241
Iteration 101, loss = 0.32945749
Iteration 102, loss = 0.32899062
Iteration 103, loss = 0.32870992
Iteration 104, loss = 0.32812944
Iteration 105, loss = 0.32790663
Iteration 106, loss = 0.32711416
Iteration 107, loss = 0.32664914
Iteration 108, loss = 0.32610996
Iteration 109, loss = 0.32558838
Iteration 110, loss = 0.32558315
Iteration 111, loss = 0.32437112
Iteration 112, loss = 0.32446989
Iteration 113, loss = 0.32360562
Iteration 114, loss = 0.32392194
Iteration 115, loss = 0.32368215
Iteration 116, loss = 0.32228072
Iteration 117, loss = 0.32181364
Iteration 118, loss = 0.32149905
Iteration 119, loss = 0.32048512
Iteration 120, loss = 0.32054620
Iteration 121, loss = 0.31970160
Iteration 122, loss = 0.32004619
Iteration 123, loss = 0.31960328
Iteration 124, loss = 0.31899234
Iteration 125, loss = 0.31874559
Iteration 126, loss = 0.31784150
Iteration 127, loss = 0.31748234
Iteration 128, loss = 0.31728243
Iteration 129, loss = 0.31661402
Iteration 130, loss = 0.31657206
Iteration 131, loss = 0.31802001
Iteration 132, loss = 0.31618720
Iteration 133, loss = 0.31530745
Iteration 134, loss = 0.31473625
Iteration 135, loss = 0.31430078
Iteration 136, loss = 0.31413329
Iteration 137, loss = 0.31429283
Iteration 138, loss = 0.31379830
Iteration 139, loss = 0.31306979
Iteration 140, loss = 0.31397360
Iteration 141, loss = 0.31212507
Iteration 142, loss = 0.31225577
Iteration 143, loss = 0.31246128
Iteration 144, loss = 0.31089713
Iteration 145, loss = 0.31077574
Iteration 146, loss = 0.31071022
Iteration 147, loss = 0.31040979
Iteration 148, loss = 0.30950851
Iteration 149, loss = 0.31138357
Iteration 150, loss = 0.30935718
Iteration 151, loss = 0.30913678
Iteration 152, loss = 0.30919894
Iteration 153, loss = 0.30834390
Iteration 154, loss = 0.30907241
Iteration 155, loss = 0.30866355
Iteration 156, loss = 0.30739024
Iteration 157, loss = 0.30748023
Iteration 158, loss = 0.30752780
Iteration 159, loss = 0.30702503
Iteration 160, loss = 0.30603356
Iteration 161, loss = 0.30616298
Iteration 162, loss = 0.30559200
Iteration 163, loss = 0.30548720
Iteration 164, loss = 0.30501334
Iteration 165, loss = 0.30496880
Iteration 166, loss = 0.30471818
Iteration 167, loss = 0.30508670
Iteration 168, loss = 0.30359557
Iteration 169, loss = 0.30427462
Iteration 170, loss = 0.30354449
Iteration 171, loss = 0.30357873
Iteration 172, loss = 0.30343722
Iteration 173, loss = 0.30401553
Iteration 174, loss = 0.30288451
Iteration 175, loss = 0.30284339
Iteration 176, loss = 0.30199765
Iteration 177, loss = 0.30113721
Iteration 178, loss = 0.30326743
Iteration 179, loss = 0.30173551
Iteration 180, loss = 0.30236324
Iteration 181, loss = 0.30142777
Iteration 182, loss = 0.30087648
Iteration 183, loss = 0.30075518
Iteration 184, loss = 0.30065010
Iteration 185, loss = 0.30074883
Iteration 186, loss = 0.30003855
Iteration 187, loss = 0.29958835
Iteration 188, loss = 0.29975612
Iteration 189, loss = 0.30012554
Iteration 190, loss = 0.29948632
Iteration 191, loss = 0.29932223
Iteration 192, loss = 0.29911112
Iteration 193, loss = 0.29944284
Iteration 194, loss = 0.29860584
Iteration 195, loss = 0.29825622
Iteration 196, loss = 0.29762163
Iteration 197, loss = 0.29857849
Iteration 198, loss = 0.29800947
Iteration 199, loss = 0.29790394
Iteration 200, loss = 0.29833261

/opt/conda/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:585: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPClassifier(hidden_layer_sizes=(16, 16), verbose=1)

In [57]:
print(log_model.score(X_test,y_test))
print(svm_model.score(X_test,y_test))
print(nn_model.score(X_test,y_test))

0.8708881578947368
0.8708881578947368
0.8856907894736842

In [59]:
data[data.columns[0]].sum()/data.shape[0]

0.8633223684210526

In [60]:
# F-score since this dataset is imbalanced

from sklearn.metrics import f1_score

In [61]:
log_predictions = log_model.predict(X_test)
svm_predictions = svm_model.predict(X_test)
nn_predictions = nn_model.predict(X_test)

In [63]:
print(f1_score(log_predictions,y_test))
print(f1_score(svm_predictions,y_test))
print(f1_score(nn_predictions,y_test))

0.930989010989011
0.930989010989011
0.9369614512471656